@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.container {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.scoreboard-block {
  display: block;
  border-radius: 2vh;
  position: absolute;
  height: fit-content;
  width: 40vh;
  background-color: rgb(23 23 23 / 80%);
  right: 3vh;
  top: 30vh;
  margin: 1vh;
}

.scoreboard-header {
  border-radius: 1vh;
  position: relative;
  width: 92%;
  height: 5vh;
  margin: 1.7vh 1.3vh 0vh 1.7vh;
  background: #dc143c;
}

.scoreboard-header > p {
  text-align: center;
  font-weight: bold;
  color: #ededed;
  padding: 1.3vh;
  font-family: "Poppins", sans-serif;
  font-size: 2.5vh;
}
#status-tab-label {
  position: absolute;
  font-family: "Poppins", sans-serif;
  right: 3vh;
  font-weight: bold;
}

.info-beam-title {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vh;
  letter-spacing: 0.1vh;
  left: 2.7vh;
  line-height: 4vh;
  font-weight: bold;
  color: #ededed;
}

.info-beam-title-players {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vh;
  letter-spacing: 0.1vh;
  left: 2.4vh;
  line-height: 4vh;
  font-weight: bold;
  color: #ededed;
}

.info-beam-status {
  position: absolute;
  font-family: "Poppins", sans-serif;
  right: 3vh;
  float: left;
  text-align: left;
  line-height: 4.25vh;
}

.scoreboard-info-beam {
  margin-top: 0.3vh;
  position: relative;
  height: 4.25vh;
  width: 100%;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.fa-times {
  color: #dc143c;
}

.fa-check {
  color: #28a745;
}

.fa-clock {
  color: #2873a7;
}

.entraceAnim {
  animation: entraceAnimKeyframes 500ms ease-in-out 0s 1 normal forwards;
}

.exitAnim {
  animation: exitAnimKeyframes 500ms ease-in-out 0s 1 normal forwards;
}

@keyframes entraceAnimKeyframes {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

@keyframes exitAnimKeyframes {
  0% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  5% {
    animation-timing-function: ease-in;
    transform: translateX(30px);
  }

  15% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  25% {
    animation-timing-function: ease-in;
    transform: translateX(38px);
  }

  38% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  52% {
    animation-timing-function: ease-in;
    transform: translateX(80px);
  }

  65% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
