<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./reset.css" />
    <title>QBCore Scoreboard</title>
  </head>

  <body>
    <div id="app" class="container">      
      <transition
        name="custom-classes"
        enter-active-class="entraceAnim"
        leave-active-class="exitAnim"
      >
        <div class="scoreboard-block" v-if="show">
          <div class="scoreboard-header">
            <p>SERVER INFO</p>
          </div>
          <div class="scoreboard-info">
            <template v-if="requiredCops">
              <div
                v-for="(item, key) in requiredCops"
                :key="`item_${key}`"
                class="scoreboard-info-beam"
                :data-type="key"
              >
                <div class="info-beam-title">
                  <p>{{ item.label }}</p>
                </div>
                <div class="info-beam-status">
                  <i class="fas" :class="getClassStatus(item)"></i>
                </div>
              </div>
            </template>
            <template v-else>
              <span> Failed to obtain information from the server.</span>
            </template>
            <div class="scoreboard-info-beam" style="background: #dc143c">
              <div class="info-beam-title-players">
                <p>Total Players</p>
              </div>
              <div
                class="info-beam-status"
                id="total-players"
                style="color: #ededed"
              >
                <p>{{ players }} of {{ maxPlayers }}</p>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <script src="./app.js" type="module"></script>
  </body>
</html>
